* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  transition-timing-function: ease-in;
  transition: 0.5s;
  background-color: transparent;
  box-shadow: 0 0 10px 0;
  z-index: 100;
}
.nav__blue {
  background-color: black;
}
.links {
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.links a {
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 55px;
  cursor: pointer;
  font-family: Arial black;
}
.links a:hover {
  background-color: black;
  transition: all 0.2 ease-out;
  border-radius: 5px;
  padding: 10px;
}

header {
  width: 100%;
  height: 700px;
  background-image: url("../assets/Img/imgPrin.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.titulo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #f2f2f2;
  overflow: hidden;
  text-align: center;
}
.titulo > h1 {
  font-size: 81px;
  font-family: Arial, Helvetica, sans-serif;
}
.titulo > h2 {
  font-size: 30px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}


.botones{

  padding: 5px;
  border-radius: 4px;
}

